h1{
  color: brown;
  text-align:center;
}

      
h4{
 text-align: center;
}
.info p, h3{
text-align: center;

}  
.me p, h{
  text-align: center;
  color: blue;
}    
img{
  border-radius: 50%;
  float: right;

}
